h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif
}

.top-bar{    
    border: 1px;
}

p{
    font-family: "Helvetica Neue", sans-serif
}

a{
    color: #8E9B80;
}

a:hover{
    color: black;
    text-decoration: none
}

.link{
    color: black;
    font-family: "Helvetica Neue"
}

.link:hover{
    color: #F06747;
    text-decoration: none;
    font-family: "Helvetica Neue"
}
    

.headline{
    color: #444545;
    font-size: 36pt;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    
}

.subhead{
    color: #A1A1A1;
    font-size: 16pt;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #A1A1A1;
    
}

.padding-top{
    padding-top: 6px;
}

.credit{
    color: #A1A1A1;
    font-size: 9pt;
    font-family: "Oswald", sans-serif;
    font-weight: 100
}

.byline{
    color: #F06747;
    font-size: 12pt;
    font-family: "Oswald", sans-serif;
    font-weight: 400
}




.sources-column{
    background: #DFE8CF;
    padding: 2px;

}

.padding-bottom{
    padding-bottom: 2vw
}


.line-graph-explainer{
    padding-bottom: 2vw;
    padding-top: 1vw;
    background: #DFE8CF;
    font-size: 13pt;
    
}

