h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif
}

.oswald-font{
    font-family: "Oswald", sans-serif
}

.top-bar{    
    border: 1px;
    padding-top: 5px;
}

.button{
    color: white;
    background-color: black;
    border-radius: 0px;
    font-family: "Oswald", sans-serif;
    font-size: 11pt;
}

.button:hover{
    color: white;
    background-color: #F06747;
    border-radius: 0px;
    font-family: "Oswald", sans-serif;
    font-size: 11pt;
}


p{
    font-family: "Helvetica Neue", sans-serif
}

a{
    color: #8E9B80;
}

a:hover{
    color: black;
    text-decoration: none
}

.link{
    color: black;
    font-family: "Helvetica Neue"
}

.link:hover{
    color: #F06747;
    text-decoration: none;
    font-family: "Helvetica Neue"
}


.UT-logo{
    width: 110%;
    padding-top: 8px
}

.top-bar{
    border-bottom: 1px solid #EAE8E5;
    border-left: 1px solid #EAE8E5;
    border-right: 1px solid #EAE8E5;
    padding-top: 7px;
    
}

.smaller-text{
    font-size: 12px;
    padding-top: 3px;
}
    
.box{
    
}

.nav-box{
    background-color: #EAE8E5;
    border: 1px solid white;
    height: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 10pt;
    padding-top: 10px
}

.black-text{
    color:black
}

.nav-box:hover{
    background-color: #027DAF;
    border: 1px solid white;
    height: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 10pt;
    padding-top: 10px;
    color:white
}

.entire-padding{
    padding-left: 20px;
    padding-right: 20px;
}

.orange{
    color: #F06747
}

.orange-border{
    border: 1vw solid #F06747
}

.plug{
    width: 8%;
    
}

@media (max-width: 768px) {
    .plug{
        width: 10%
    }
}

.orange-box{
    font-family: "Oswald", sans-serif;
    background-color: #F06747;
    height: 80px;
    text-align: center;
    color:white;
}


.big-number{
    font-family: "Oswald", sans-serif;
    font-size: 32pt;
    font-weight: 100;
    color:white;
    
}

.white-text{
    color:white;
    font-family: "Oswald", sans-serif;
    font-size: 8pt;
    line-height: 1pt;
}

.headline{
    color: #444545;
    font-size: 36pt;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    
}

.subhead{
    color: #A1A1A1;
    font-size: 16pt;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #A1A1A1;
    
}

.padding-top{
    padding-top: 6px;
}

.credit{
    color: #A1A1A1;
    font-size: 9pt;
    font-family: "Oswald", sans-serif;
    font-weight: 100
}

.byline{
    color: #F06747;
    font-size: 12pt;
    font-family: "Oswald", sans-serif;
    font-weight: 400
}




.sources-column{
    background: #DFE8CF;
    padding: 2px;

}

.padding-bottom{
    padding-bottom: 2vw
}


.line-graph-explainer{
    padding-bottom: 2vw;
    padding-top: 1vw;
    background: #DFE8CF;
    font-size: 12pt;
    
}

.percent{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 32pt;
    font-weight: 600;
    text-align: center;
    color: #CCCBCA
}

.center{
    text-align: center
}

.icons{
    width: 80%
}

/*@media (max-width: 768px) {
    
}
*/