h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif
}

.headline{
    color: #444545;
    font-size: 36pt;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    
}

.subhead{
    color: #A1A1A1;
    font-size: 16pt;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.line{
    
}

.credit{
    color: #A1A1A1;
    font-size: 9pt;
    font-family: "Oswald", sans-serif;
    font-weight: 100
}

.byline{
    color: #F06747;
    font-size: 12pt;
    font-family: "Oswald", sans-serif;
    font-weight: 400
}


p{
    font-family: "Helvetica Neue", sans-serif
}

a{
    color: #8E9B80;
}

a:hover{
    color: black;
    text-decoration: none
}

.sources-column{
    background: #DFE8CF

}

.padding-bottom{
    padding-bottom: 2vw
}


.line-graph-explainer{
    padding-bottom: 2vw;
    padding-top: 1vw;
    background: #DFE8CF;
    font-size: 14pt;
    
}

